.navbar {
  width: 100vw;
  position: sticky;
  display: flex;
  align-items: center;
  background-color: var(--bg-color-primary);
  padding: 10px 50px;
}
.cues {
  background: #f8ee00;
  font-size: 2.5em;
  background: linear-gradient(to bottom, #f8ee00 0%, #f9ab00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: auto;
}
