.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: rgb(30, 36, 62);
  background: linear-gradient(
    140deg,
    rgba(30, 36, 62, 1) 0%,
    rgba(30, 36, 62, 1) 50%,
    rgba(87, 96, 129, 1) 100%
  );
  padding: 3px;
  cursor: pointer;
  margin-right: 5px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(153, 58, 188);
  background: linear-gradient(
    156deg,
    rgba(153, 58, 188, 1) 0%,
    rgba(93, 2, 183, 1) 100%
  );
  border-radius: 7px;
  padding: 5px;
  color: white;
  font-size: 1.5em;

}
