.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color-primary);
  padding: 5px;
}

.progress {
  display: flex;
  background-color: var(--bg-color-secondary);
  padding: 2px;
  margin: 0 7px;
  border-radius: 5px;
  border: 2px solid var(--bg-color-primary);
  box-shadow: -2px -1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px -1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px -1px 5px 0px rgba(0, 0, 0, 0.75);
}
.bar {
  cursor: pointer;
  width: 10px;
  border: 1px solid var(--bg-color-primary);
  height: 15px;
  transition: all 1s ease;
  background-color: var(--bg-color-secondary);
}
.bar:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.bar:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
