.selector {
  border: 5px solid var(--bg-color-primary);
  padding: 3px 10px;
  border-radius: 10px;
  margin: 0 20px;
  box-shadow: -2px -1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px -1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px -1px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: var(--bg-color-secondary);
  color: var(--text-color-primary);
  font-weight: 700;
  font-size: 1.1em;
}
